### Questions
* breadth vs depth recursive functions
* wording may have been switched in descriptions

### Objectives
YWBAT 
* parse a json for various informatoin
* parse jsons and load them into dataframes
* build a recursive function

### Outline
* questions
* solve some recursive stuff
* load in a json from a tweet
* parse the json
* use some tools online to see the structure
* use a loop to parse jsons and load them into a df

In [80]:
import pandas as pd
import numpy as np

from textblob import TextBlob

from pprint import pprint

from pymongo import MongoClient

import matplotlib.pyplot as plt

In [27]:
# triangle numbers
# t1 = 1
# t2 = 1 + 2 = 3
# t3 = 1 + 2 + 3 = 6
# t4 = 1 + 2 + 3 + 4 = 10
# t5 = 1 + ... + 5 = 15
# t6 = 1 + ... + 6 = 21

def triangle(n):
    s = 0
    for i in range(1, n + 1):
        s += i
    return s


def triangle_rec(n):
    if n == 1: 
        return 1
    return n + triangle_rec(n - 1)

In [38]:
%%time
triangle_rec(1000)

CPU times: user 375 Âµs, sys: 1e+03 ns, total: 376 Âµs
Wall time: 385 Âµs

500500

In [39]:
%%time
triangle(1000)

CPU times: user 55 Âµs, sys: 1 Âµs, total: 56 Âµs
Wall time: 60.1 Âµs

500500

In [48]:
# Fibonacci sequence
# F0 = 0
# F1 = 1
# F2 = 1
# F3 = 2
# F4 = 3
# F5 = 5
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ...

def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    if n == 2:
        return 1
    if n == 3:
        return 2
    return fib(n - 1) + fib(n - 2)

In [49]:
fib(10)

55

In [50]:
# load in some tweets using mongodb

In [52]:
client = MongoClient(host='localhost', port=27017)

In [54]:
client.list_database_names()

['admin',
 'config',
 'local',
 'marchmadness',
 'music_tweets',
 'mydb',
 'new_db',
 'tweets']

In [55]:
music_tweets = client["music_tweets"]

In [56]:
music_tweets.list_collection_names()

['kendrickLamar']

In [57]:
kdot = music_tweets["kendrickLamar"]

In [77]:
# load this data into a dataframe
dlist = []

for res in kdot.find({}): # equivalent of a select * from kendrickLamar;
    d = {}
    d["retweet_count"] = res["retweet_count"]
    d["text"] = res["text"]
    d["reply_count"] = res["reply_count"]
    d["user"] = res["user"]
    d["user_friends"] = user["friends_count"]
    d["user_followers"] = user["followers_count"]
    d["user_screenname"] = user["screen_name"]
    d["user_description"] = user["description"]
    dlist.append(d)

In [78]:
df = pd.DataFrame(dlist)
df.head()

,reply_count,retweet_count,text,user,user_description,user_followers,user_friends,user_screenname
0,0,0,"Now Playing: Tech N9ne f. Kendall Morgan, Kend...","{'id': 776128881107558401, 'id_str': '77612888...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live
1,0,0,RT @Bj532x: Ø§Ù…Ø¨ÙŠ ÙˆØ§ÙŠØ¯ Ø­Ù„ÙˆÙ‡ ðŸ’” https://t.co/2oDR...,"{'id': 2459509949, 'id_str': '2459509949', 'na...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live
2,0,0,@JayStephMD @kendricklamar Bitch can we win a ...,"{'id': 805611051169566720, 'id_str': '80561105...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live
3,0,0,Well this is trash cause 4:44 &amp; u missed W...,"{'id': 4705257927, 'id_str': '4705257927', 'na...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live
4,0,0,RT @archivelyric: pray for me - the weeknd ft....,"{'id': 817135604605587456, 'id_str': '81713560...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live

In [85]:
polarity_scores = []
for text in df.text:
    blob = TextBlob(text)
    polarity, subjectivity = blob.sentiment
    polarity_scores.append(polarity)

In [86]:
df["tweet_polarity"] = polarity_scores
df.head()

,reply_count,retweet_count,text,user,user_description,user_followers,user_friends,user_screenname,tweet_polarity
0,0,0,"Now Playing: Tech N9ne f. Kendall Morgan, Kend...","{'id': 776128881107558401, 'id_str': '77612888...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live,0.0
1,0,0,RT @Bj532x: Ø§Ù…Ø¨ÙŠ ÙˆØ§ÙŠØ¯ Ø­Ù„ÙˆÙ‡ ðŸ’” https://t.co/2oDR...,"{'id': 2459509949, 'id_str': '2459509949', 'na...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live,0.0
2,0,0,@JayStephMD @kendricklamar Bitch can we win a ...,"{'id': 805611051169566720, 'id_str': '80561105...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live,0.2
3,0,0,Well this is trash cause 4:44 &amp; u missed W...,"{'id': 4705257927, 'id_str': '4705257927', 'na...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live,0.0
4,0,0,RT @archivelyric: pray for me - the weeknd ft....,"{'id': 817135604605587456, 'id_str': '81713560...",7Six5 Live is a mobile streaming radio station...,526,201,7Six5Live,0.0

### Assessment